/* Fonte Hountondji — jetons de couleur */
:root {
  --forge:         #14120F;
  --forge-2:       #2A241C;
  --laiton:        #B8863B;
  --laiton-clair:  #E0B65C;
  --vert-de-gris:  #5E7A66;
  --ivoire:        #F2EBDD;
  --ivoire-2:      #DCD2BE;
  --sang-de-boeuf: #8C2F26;
  --cendre:        #8A8073;
}
